// =============================================================================================
.article-post {
  position: relative;
  background-color: #fff;
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  // .article-post__top
  &__top {
    width: 100%;
    padding: rem(15) rem(15) 0;
  }
  // .article-post__swiper
  &__swiper {
    padding-bottom: prc(217, 327);
  }
  // .article-post__swiper-wrapper
  &__swiper-wrapper {
    position: absolute;
  }
  // .article-post__swiper-slide
  &__swiper-slide {}
  // .article-post__swiper-pagination
  &__swiper-pagination {
    position: absolute;
    bottom: rem(8);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    display: flex;
    align-items: center;
    column-gap: rem(8);
    .swiper-pagination-bullet {
      width: rem(10);
      height: rem(10);
      background-color: #fff;
      border-radius: 50%;
      transition: $standartTrans;
      opacity: 0.6;
      box-shadow: rem(1) rem(1) rem(4) rgba(#000, 40%);
      cursor: pointer;
      &.swiper-pagination-bullet-active {
        background-color: $blueColor;
        width: rem(30);
        opacity: 1;
        border-radius: rem(6);
      }
    }
  }
  // .article-post__image
  &__image {
    display: block;
    position: relative;
    padding-bottom: prc(217, 327);
    border-radius: rem(10);
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 600ms ease-in-out;
    }
  }
  // .article-post__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12);
  }
  // .article-post__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    padding: rem(10) rem(15);
  }
  // .article-post__date
  &__date {
  }
  // .article-post__button-tag
  &__button-tag {
    padding: rem(4) rem(8);
    background-color: transparent;
    border: rem(1) solid #4e5e78;
    border-radius: rem(4);

    font-weight: 500;
    font-size: rem(12);
    line-height: prc(15, 12);
    color: #4e5e78;
    transition: $standartTrans;
    &:hover {
      background-color: rgba(#000, 3%);
    }
    &:active {
      background-color: rgba(#000, 6%);
    }
  }
  // .article-post__title
  &__title {
    font-weight: 700;
    font-size: rem(16);
    line-height: prc(24, 16);
    @include lineClamp(3);
  }
  // .article-post__description
  &__description {
    font-size: rem(14);
    line-height: prc(21, 14);
    color: #4e5e78;
    @include lineClamp(3);
  }
  // .article-post__bottom
  &__bottom {
    // flex: 1 1 auto;
    padding: rem(12) rem(15);
    display: grid;
    grid-template-columns: 1fr rem(118) rem(24);
    column-gap: rem(10);
    border-top: rem(2) solid #f9fafc;
  }
  // .article-post__user-info
  &__user-info {
  }
  // .article-post__button-like
  &__button-like { }
  // .article-post__more-info
  &__more-info {
    position: relative;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: rem(32);
    border-radius: rem(6);
    transition: $standartTrans;
    &:hover {
      background-color: #f6f7f9;
    }
    &:active {
      background-color: darken(#f6f7f9, 5%);
    }
  }
  // .article-post__menu
  &__menu {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: rem(-40);
    &._show {
      bottom: rem(-72);
    }
  }
}
// =============================================================================================
.date-post {
  display: flex;
  align-items: center;
  column-gap: rem(5);
  // .date-post__icon
  &__icon {
    position: relative;
    width: rem(16);
    height: rem(16);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .date-post__text
  &__text {
    font-weight: 500;
    font-size: rem(12);
    line-height: prc(15, 12);
    color: #a0a7b5;
  }
}
// =============================================================================================
.info-user {
  display: flex;
  align-items: center;
  column-gap: rem(4);
  // .info-user__image
  &__image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: rem(2) solid #f6f7f9;
    min-width: rem(32);
    min-height: rem(32);
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .info-user__text
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
  }
  // .info-user__name
  &__name {
    font-weight: 700;
    font-size: rem(12);
    line-height: prc(12, 12);
  }
  // .info-user__vocation
  &__vocation {
    font-size: rem(12);
    line-height: prc(12, 12);
    @include lineClamp(1);
  }
}
// =============================================================================================