// =====================================================================================================================
.header {
  width: 100%;
  // .header__container
  &__container {
    height: rem($headerHeight);
    // display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: rem(343 - 30 - 18) 1fr /*rem(90)*/ auto;
    gap: rem(18);
    @include media(1150) {
      grid-template-columns: rem(210 - 16 - 18) 1fr /*rem(90)*/ auto;
    }
  }
  // .header__logo
  &__logo {
    // margin-right: rem(200);
    // @include media(768) {
    //   margin-right: rem(200 + 78);
    // }
  }
  // .header__search
  &__search {
    margin-right: auto;
  }
  // .header__login
  &__login {
    // margin-left: rem(18);
    &._hide {
      display: none;
    }
  }
  // .header__profile
  &__profile {
    display: flex;
    align-items: center;
    gap: rem(22);
    &._hide {
      display: none;
    }
  }
  // .header__profile-name
  &__profile-name {
    font-weight: 700;
    font-size: rem(14);
    line-height: prc(12, 14);
  }
  // .header__profile-avatar
  &__profile-avatar {
    flex: 0 0 rem(36);
    height: rem(36);
    overflow: hidden;
    border-radius: 50%;
  }
}
// =====================================================================================================================
.search-header {
  position: relative;
  height: rem(50);
  width: 100%;
  // .search-header__icon
  &__icon {
    position: absolute;
    top: 50%;
    left: rem(18);
    transform: translateY(-50%);
    svg {
      path {
        transition: $standartTrans;
      }
    }
  }
  // .search-header__input
  &__input {
    width: 100%;
    max-width: rem(607);
    border-radius: rem(10);
    border: rem(1) solid #cbccd1;
    height: 100%;
    padding-left: rem(50);
    padding-right: rem(18);
    background-color: transparent;
    font-size: rem(14);
    font-weight: 500;
    color: $blackColor;
    transition: $standartTrans;
    @include hidePlaceholder();
    @include styledPlaceholder(#a0a7b5);
    &:focus {
      box-shadow: 0 0 0 rem(2) rgba($blueColor, 65%);
      & + .search-header__icon {
        svg {
          path {
            fill: $blueColor;
          }
        }
      }
    }
  }
}

// Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
