// =====================================================================================================================
.header {
  width: 100%;
  background-color: #fff;
  @include media(425) {
    border-radius: 0 0 rem(10) rem(10);
  }
  // .header__container
  &__container {
    height: rem($headerHeight);
    align-items: center;
    display: grid;
    grid-template-columns: rem(343 - 30 - 18) 1fr auto;
    gap: rem(18);
    @include media(1150) {
      grid-template-columns: auto 1fr auto;
    }
    @include media(768) {
      grid-template-columns: auto 1fr auto;
    }
    @include media(425) {
      height: rem($headerHeight - 33);
    }
  }
  // .header__logo
  &__logo {
    // margin-right: rem(200);
    // @include media(768) {
    //   margin-right: rem(200 + 78);
    // }
  }
  // .header__search
  &__search {
    margin-right: auto;
  }
  // .header__login
  &__login {
    // margin-left: rem(18);
    &._hide {
      display: none;
    }
  }
  // .header__profile
  &__profile {
    display: flex;
    align-items: center;
    gap: rem(22);
    @include media(768) {
      display: none;
    }
    &._hide {
      display: none;
    }
  }
  // .header__profile-name
  &__profile-name {
    font-weight: 700;
    font-size: rem(14);
    line-height: prc(12, 14);
  }
  // .header__profile-avatar
  &__profile-avatar {
    flex: 0 0 rem(36);
    height: rem(36);
    overflow: hidden;
    border-radius: 50%;
  }
  // .header__icon-menu
  &__icon-menu {
    display: none;
    @include media(768) {
      display: flex;
      background-color: transparent;
      padding: rem(8) rem(7);
      transition: $standartTrans;
      border-radius: rem(6);
      &:hover {
        background-color: rgba(#000, 3%);
      }
      &:active {
        background-color: rgba(#000, 10%);
      }
    }
    &._notification {
      span {
        &::after {
          display: block;
        }
      }
    }
    span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: '';
        position: absolute;
        display: none;
        top: rem(-4);
        right: rem(-4);
        background-color: $redColor;
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
        border: rem(2) solid #fff;
      }
    }
  }
}
// =====================================================================================================================
.search-header {
  position: relative;
  height: rem(50);
  width: 100%;
  @include media(425) {
    height: rem(36);
  }
  // .search-header__icon
  &__icon {
    position: absolute;
    top: 50%;
    left: rem(18);
    transform: translateY(-50%);
    @include media(425) {
      width: rem(14);
      height: rem(14);
      display: flex;
      justify-content: center;
      align-items: center;
      left: rem(8);
    }
    svg {
      path {
        transition: $standartTrans;
      }
    }
  }
  // .search-header__input
  &__input {
    width: 100%;
    max-width: rem(607);
    border-radius: rem(10);
    border: rem(1) solid #cbccd1;
    height: 100%;
    padding-left: rem(50);
    padding-right: rem(18);
    background-color: transparent;
    font-size: rem(14);
    font-weight: 500;
    color: $blackColor;
    transition: $standartTrans;
    @include hidePlaceholder();
    @include styledPlaceholder(#a0a7b5);
    @include media(425) {
      font-size: rem(11);
      border-radius: rem(8);
      padding-left: rem(30);
      padding-right: rem(15);
    }
    &:focus {
      box-shadow: 0 0 0 rem(2) rgba($blueColor, 65%);
      & + .search-header__icon {
        svg {
          path {
            fill: $blueColor;
          }
        }
      }
    }
  }
}