.sidebar {
  background-color: #fff;
  height: 100%;
  padding-top: rem(30);
  padding-bottom: rem(30);
  overflow-y: auto;
  // .sidebar__container
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    row-gap: rem(30);
  }
  // .sidebar__menu
  &__menu { }
  // .sidebar__bottom
  &__bottom { }
}
.menu {
  flex: 1 1 auto;
  &._hide {
    .menu__count-notification {
      display: none;
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: rem(15);
  }
  // .menu__item
  &__item {
    width: 100%;
  }
  // .menu__link
  &__link {
    padding: rem(16) rem(20);
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: rem(12);
    border-radius: rem(10);
    transition: $standartTrans;
    &:hover {
      background-color: #F6F7F9;
    }
    &:active {
      background-color: darken(#F6F7F9, 3%);
    }
    &._active {
      background-color: #F6F7F9;
      .menu__icon {
        svg {
          path {
            fill: $blueColor;
          }
        }
      }
      .menu__text {
        color: $blueColor;
      }
    }
  }
  // .menu__icon
  &__icon { 
    width: rem(20);
    height: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .menu__text
  &__text {
    font-weight: 600;
    line-height: prc(19, 16);
    color: $darkBlueColor;
  }
  // .menu__count-notification
  &__count-notification {
    flex: 0 0 rem(24);
    background-color: $redColor;
    border-radius: 50%;
    color: #fff;
    height: rem(24);
    line-height: rem(24);
    text-align: center;

    font-weight: 600;
    font-size: rem(14);
    margin-left: rem(-4);
  }
}
