.sidebar-post {
  // .sidebar-post__header
  &__header {
    padding-bottom: rem(30);
    border-bottom: rem(2) solid #f6f7f9;
    position: relative;
    display: grid;
    grid-template-columns: auto auto rem(24);
    grid-template-rows: auto auto;
    gap: rem(16);
    @include media(425) {
      padding-bottom: rem(10);
    }
  }
  // .sidebar-post__user-info
  &__user-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  // .sidebar-post__more-info
  &__more-info {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  // .sidebar-post__date
  &__date { }
  // .sidebar-post__count-views
  &__count-views {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: flex-end;
    @include media(425) {
      .count-views__text {
        display: none;
      }
    }
  }
  // .sidebar-post__menu
  &__menu {
    position: absolute;
    top: 0;
    right: rem(-10);
    &._show {
      top: rem(-10);
    }
  }
  // .sidebar-post__actions
  &__actions {
    display: grid;
    grid-template-columns: rem(125) rem(146) rem(44);
    gap: rem(10);
    padding-bottom: rem(30);
    padding-top: rem(30);
    border-bottom: rem(2) solid #f6f7f9;
    @include media(425) {
      grid-template-columns: rem(125) rem(44) rem(44);
      padding: rem(10) 0;
      gap: rem(4);
    }
  }
  // .sidebar-post__button-like
  &__button-like {
    height: 100%;
  }
  // .sidebar-post__subscribe
  &__subscribe {
    width: 100%;
  }
  // .sidebar-post__share
  &__share {
  }
  // .sidebar-post__tags
  &__tags {
  }
}
