.updates-event {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  padding: rem(24) rem(32);
  background-color: #fff;
  border-bottom: rem(2) solid #f6f7f9;
  @include media(425) {
    padding: rem(12) rem(16);
  }
  // .updates-event__header
  &__header {
    display: grid;
    grid-template: auto auto / rem(48) 1fr;
    column-gap: rem(12);
    align-items: center;
    @include media(425) {
      grid-template: auto auto / rem(36) 1fr;
      gap: rem(4);
    }
  }
  // .updates-event__ava-wrapper
  &__ava-wrapper {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    position: relative;
    width: 100%;
    height: 100%;
  }
  // .updates-event__ava-image
  &__ava-image {
    position: relative;
    overflow: hidden;
    height: rem(48);
    width: rem(48);
    border-radius: 50%;
    border: rem(2) solid #f9fafc;
    @include media(425) {
      width: rem(30);
      height: rem(30);
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  // .updates-event__icon
  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    @include media(425) {
      width: rem(14);
      height: rem(14);
    }
  }
  // .updates-event__name
  &__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    font-weight: 700;
    font-size: rem(16);
    line-height: prc(12, 16);
    color: #2b3450;
    @include media(425) {
      font-size: rem(13);
      line-height: prc(12, 13);
    }
  }
  // .updates-event__vocation
  &__vocation {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: rem(14);
    line-height: prc(12, 14);
    color: #a0a7b5;
    margin-bottom: auto;
    @include media(425) {
      font-size: rem(12);
      line-height: prc(13, 12);
      
    }
  }
  // .updates-event__date
  &__date {
    margin-left: auto;
    // .updates-event__date_new-event
    &_new-event {
      &::after {
        content: "";
        width: rem(8);
        height: rem(8);
        background-color: $redColor;
        border-radius: 50%;
      }
    }
  }
  // .updates-event__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    @include media(425) {
      gap: rem(8);
    }
  }
  // .updates-event__type
  &__type {
    color: $blueColor;
    font-size: rem(14);
    line-height: prc(12, 14);
    @include media(425) {
      font-size: rem(12);
      line-height: prc(13, 12);
    }
  }
  // .updates-event__post-title
  &__post-title {
    font-weight: 700;
    font-size: rem(20);
    line-height: prc(24, 20);
    color: #2b3450;
    @include media(425) {
      font-size: rem(16);
      line-height: prc(19, 16);
    }
  }
  // .updates-event__post-text
  &__post-text {
    font-size: rem(14);
    line-height: prc(21, 14);
    color: #4e5e78;
    @include media(425) {
      font-size: rem(12);
      text-align: justify;
    }
  }
  // .updates-event__footer
  &__footer {
    display: flex;
    align-items: center;
  }
  // .updates-event__button-read-more
  &__button-read-more {
    font-size: 500;
    font-size: rem(14);
    line-height: prc(12, 14);
    color: #a0a7b5;
    background-color: transparent;
    transition: $standartTrans;
    @include media(425) {
      font-size: rem(12);
    }
    &:hover {
      color: darken(#a0a7b5, 30%);
    }
  }
}
