// ========================================================================
.logo {
  flex: 0 0 auto;
  width: rem(114);
  height: rem(35);
  @include media(768) {
    width: rem(36);
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// ========================================================================
.button {
  border-radius: rem(10);
  background-color: $blueColor;
  padding: rem(16) rem(24);
  transition: $standartTrans;
  @media (any-hover: hover) {
    &:hover {
      background-color: darken($blueColor, 10%);
      box-shadow: 0 rem(4) rem(8) rgba($blackColor, 20%);
    }
  }
  &:active {
    background-color: darken($blueColor, 15%);
  }
  &_auth {
    @include media(425) {
      padding: rem(6);
      background-color: transparent;
      border-radius: rem(6);
      border: rem(1) solid transparent;
      &:hover {
        box-shadow: none;
        border-color: rgba(#000, 6%);
        background-color: transparent;
      }
    }
  }
  // .button__text
  &__text {
    color: #fff;
    font-size: rem(14);
    line-height: prc(17, 14);
    font-weight: 600;
    text-align: center;
  }
  // .button__icon
  &__icon {
    display: none;
    @include media(425) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// ========================================================================
.sidebar-right {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  @include media(1024) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  // .sidebar-right__stat
  &__stat {
  }
  // .sidebar-right__event
  &__event {
  }
  // .sidebar-right__baner
  &__baner {
  }
}
// ========================================================================
.stat-bar {
  background-color: #fff;
  border-radius: rem(20);
  // .stat-bar__header
  &__header {
    padding: rem(15) rem(20);
    border-bottom: rem(2) solid #f9fafc;
    font-weight: 700;
    line-height: prc(24, 16);
  }
  // .stat-bar__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    padding: rem(30) rem(16);
  }
  // .stat-bar__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
  // .stat-bar__icon
  &__icon {
  }
  // .stat-bar__text
  &__text {
    font-weight: 500;
    line-height: prc(24, 16);
    color: #4e5e78;

    // .stat-bar__text_bold
    &_bold {
      font-weight: 700;
      color: $darkBlueColor;
    }
  }
}
// ===========================================================================
.menu-post {
  overflow: hidden;
  border-radius: rem(20);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: rem(12) rem(36) rem(12) rem(12);
  row-gap: rem(10);
  visibility: hidden;
  opacity: 0;
  transition: $standartTrans;
  box-shadow: 0px 104px 42px rgba(43, 52, 80, 0.01), 0px 59px 35px rgba(43, 52, 80, 0.05),
    0px 26px 26px rgba(43, 52, 80, 0.09), 0px 7px 14px rgba(43, 52, 80, 0.1), 0px 0px 0px rgba(43, 52, 80, 0.1);
  &._show {
    opacity: 1;
    visibility: visible;
  }
  // .menu-post__action-button
  &__action-button {
    font-weight: 600;
    font-size: rem(12);
    line-height: prc(21, 12);
    background-color: transparent;
    padding: rem(4) rem(8);
    transition: $standartTrans;
    border-radius: rem(6);
    &:hover {
      background-color: rgba(#000, 1%);
    }
    &:active {
      background-color: rgba(#000, 3%);
    }
    // .menu-post__action-button_save
    &_save {
      color: #4e5e78;
    }
    // .menu-post__action-button_complain
    &_complain {
      color: #ff5531;
    }
    // .menu-post__action-button_hide
    &_hide {
      color: #387dff;
    }
  }
}
// ========================================================================
.school-bar {
  width: 100%;
  border-radius: rem(10);
  background-color: $darkBlueColor;
  padding: rem(40) rem(30) rem(24);
  // .school-bar__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(16);
  }
  // .school-bar__logo
  &__logo {
    width: rem(164);
    height: rem(82);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  // .school-bar__images
  &__images {
    width: rem(300);
    height: rem(232);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  // .school-bar__text
  &__text {
    font-weight: 500;
    color: #fff;
    font-size: rem(13);
    line-height: prc(16, 13);
  }
  // .school-bar__button
  &__button {
    background-color: $blueColor;
    transition: $standartTrans;
    width: 100%;
    height: rem(50);
    border-radius: rem(10);
    color: #fff;
    font-weight: 700;
    font-size: rem(16);
    line-height: prc(19, 16);
    &:hover {
      background-color: darken($blueColor, 5%);
    }
    &:active {
      background-color: darken($blueColor, 10%);
    }
  }
}
// ========================================================================
.event-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(20);
  padding-bottom: rem(20);
  // .event-bar__header
  &__header {
    padding: rem(15) rem(20);
    border-bottom: rem(2) solid #f9fafc;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .event-bar__header-text
  &__header-text {
    font-weight: 800;
    line-height: prc(24, 16);
  }
  // .event-bar__header-link
  &__header-link {
    font-weight: 500;
    font-size: rem(12);
    line-height: prc(24, 16);
    color: #ff5531;
    transition: $standartTrans;
    &:hover {
      color: darken(#ff5531, 10%);
    }
  }
  // .event-bar__body
  &__body {
    padding: rem(20) rem(20) 0;
    overflow-y: auto;
    height: rem(360);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // .event-bar__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }
  // .event-bar__item
  &__item {
  }
  // .event-bar__block
  &__block {
  }
}
// ===========================================================================
.block-event {
  display: grid;
  grid-template-columns: rem(28) 1fr auto;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  gap: rem(4);

  padding: rem(10);
  background-color: #f6f7f9;
  border-radius: rem(10);
  overflow: hidden;
  // .block-event__user-img
  &__user-img {
    grid-row-start: 1;
    grid-row-end: 3;

    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  // .block-event__user-name
  &__user-name {
    font-weight: 700;
    font-size: rem(12);
    line-height: prc(12, 12);
    color: #2b3450;
  }
  // .block-event__user-vocation
  &__user-vocation {
    font-size: rem(12);
    line-height: prc(12, 12);
    color: #2b3450;
  }
  // .block-event__date
  &__date {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  // .block-event__body
  &__body {
    margin-top: rem(8);
    grid-column-start: 1;
    grid-column-end: 4;

    font-weight: 500;
    font-size: rem(14);
    line-height: prc(21, 14);
    color: #4e5e78;
  }
}
// ===========================================================================
.button-like {
  width: 100%;
  height: rem(32);
  border-radius: rem(10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(5);
  border: rem(1) solid #a0a7b5;
  transition: $standartTrans;
  background-color: transparent;
  padding: 0 rem(6);
  &:hover {
    background: #f6f7f9;
    border-color: #f6f7f9;
  }
  &:active {
    background: darken(#f6f7f9, 5%);
  }
  // .button-like__icon
  &__icon {
    width: rem(20);
    height: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .button-like__text
  &__text {
    font-weight: 700;
    font-size: rem(10);
    line-height: prc(12, 10);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include lineClamp(1);
  }
}
// ===========================================================================
.button-subscribe {
  width: rem(146);
  display: flex;
  align-items: center;
  gap: rem(6);
  padding: rem(10);
  background-color: #f9fafc;
  border-radius: rem(10);
  transition: $standartTrans;
  @include media(425) {
    .button-subscribe__text {
      width: rem(44);
      display: none;
    }
  }
  &._active {
    background-color: $blueColor;
    .button-subscribe__icon {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .button-subscribe__text {
      color: #fff;
    }
  }
  &:hover {
    background-color: darken(#f9fafc, 5%);
  }
  &:active {
    background-color: darken(#f9fafc, 15%);
  }
  // .button-subscribe__icon
  &__icon {
    flex: 0 0 rem(24);
    height: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      path {
        transition: $standartTrans;
      }
    }
  }
  // .button-subscribe__text
  &__text {
    font-weight: 500;
    font-size: rem(14);
    line-height: prc(17, 14);
    color: #4e5e78;
  }
}
// ===========================================================================
.button-share {
  width: rem(44);
  height: rem(44);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f6f7f9;
  border-radius: rem(10);
  transition: $standartTrans;
  &:hover {
    background-color: darken(#f6f7f9, 5%);
  }
  &:active {
    background-color: darken(#f6f7f9, 15%);
  }
  // .button-share__icon
  &__icon {
  }
}
// ===========================================================================
.button-more-info {
  position: relative;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: rem(32);
  border-radius: rem(6);
  transition: $standartTrans;
  &:hover {
    background-color: #f6f7f9;
  }
  &:active {
    background-color: darken(#f6f7f9, 5%);
  }
  // .button-more-info__icon
  &__icon {
  }
}
// ===========================================================================
.count-views {
  display: flex;
  gap: rem(8);
  align-items: center;
  // .count-views__icon
  &__icon {
    flex: 0 0 rem(24);
    height: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(425) {
      height: rem(16);
    }
  }
  // .count-views__count-number
  &__count-number {
    font-weight: 500;
    font-size: rem(12);
    line-height: prc(15, 12);
    color: #a0a7b5;
  }
  // .count-views__text
  &__text {
    font-weight: 500;
    font-size: rem(12);
    line-height: prc(15, 12);
    color: #a0a7b5;
  }
}
// ===========================================================================
.article-title {
  font-weight: 700;
  font-size: rem(20);
  line-height: prc(24, 20);
  color: #2b3450;
}
// ===========================================================================
.button-edit {
  display: flex;
  align-items: center;
  padding: rem(10);
  transition: $standartTrans;
  border-radius: rem(10);
  background-color: transparent;
  gap: rem(5);
  // .button-edit_cover
  &_cover {
    background-color: #fff;
    box-shadow: 0 rem(4) rem(12) rgba($darkBlueColor, 40%);
    @include media(1024) {
      padding: 0;
      width: rem(24);
      height: rem(24);
      justify-content: center;
      .button-edit__icon {
        width: rem(12);
        height: rem(12);
      }
      .button-edit__text {
        display: none;
      }
    }
    &:hover {
      background-color: $blueColor;
      .button-edit__icon {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      .button-edit__text {
        color: #fff;
      }
    }
    &:active {
      background-color: darken($blueColor, 10%);
    }
  }
  // .button-edit_profile
  &_profile {
    @include media(1024) {
      background-color: rgba(#000, 1%);
    }
    &:hover {
      background-color: rgba(#000, 3%);
    }
    &:active {
      background-color: rgba(#000, 6%);
    }
  }
  // .button-edit__icon
  &__icon {
    width: rem(24);
    height: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      path {
        transition: $standartTrans;
      }
    }
  }
  // .button-edit__text
  &__text {
    font-weight: 600;
    font-size: rem(12);
    line-height: prc(15, 12);
    color: #2b3450;
    transition: $standartTrans;
  }
}
