.logo {
  display: block;
  width: rem(114);
  height: rem(35);
}
.button {
  color: #fff;
  font-size: rem(14);
  line-height: prc(17, 14);
  border-radius: rem(10);
  background-color: $blueColor;
  padding: rem(16) rem(24);
  font-weight: 600;
  transition: $standartTrans;
  @media (any-hover: hover) {
    &:hover {
      background-color: darken($blueColor, 10%);
      box-shadow: 0 rem(4) rem(8) rgba($blackColor, 20%);
    }
  }
}
.sidebar-right {
  // .sidebar-right__stat
  &__stat {
  }
}
.stat-bar {
  background-color: #fff;
  border-radius: rem(20);
  // .stat-bar__header
  &__header {
    padding: rem(15) rem(20);
    border-bottom: rem(2) solid #f9fafc;
    font-weight: 700;
    line-height: prc(24, 16);
  }
  // .stat-bar__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    padding: rem(30) rem(16);
  }
  // .stat-bar__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
  // .stat-bar__icon
  &__icon {
  }
  // .stat-bar__text
  &__text {
    font-weight: 500;
    line-height: prc(24, 16);
    color: #4e5e78;

    // .stat-bar__text_bold
    &_bold {
      font-weight: 700;
      color: $darkBlueColor;
    }
  }
}
// ========================================================================

